/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-font-family-base: "Roboto", sans-serif;
  --ifm-color-primary: #3366cc;
  --ifm-color-primary-dark: #2C55A8;
  --ifm-color-primary-darker: #25448B;
  --ifm-color-primary-darkest: #1C3466;
  --ifm-color-primary-light: #5C80D6;
  --ifm-color-primary-lighter: #99B3E6;
  --ifm-color-primary-lightest: #D6E0F5;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #4d76d4;
  --ifm-color-primary-dark: #3F6BB3;
  --ifm-color-primary-darker: #385C99;
  --ifm-color-primary-darkest: #314D80;
  --ifm-color-primary-light: #5C80D6;
  --ifm-color-primary-lighter: #99B3E6;
  --ifm-color-primary-lightest: #D6E0F5;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
